<div class="banner-room" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://lorempixel.com/1440/800/city');">

</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1><%= @room.title %></h1>
      <ul>
        <li><%= @room.city %> - <%= @room.address %></li>
        <li><%= @room.capacity %> travelers</li>
        <li><%= @room.price%>€ par nuit</li>
        <li><%= @room.average_rating.nil? ? "No rating yet" : "#{@room.average_rating} étoiles" %> </li>
      </ul>
    </div>
  </div>
</div>

<div id="map"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
